.auto{
	width: 600px;
	height: 200px;
	background: red;
}

.rueda{
	width: 100px;
	height: 100px;
	background: linear-gradient(black,red,green);
	border-radius: 50%;
	position: absolute;
	top: 150px;
}

.rueda1{
	left: 40px;
}

.rueda2{
	left:450px;
}
